# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - master

resources:
  - repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'DockerConnectionGitHub'
  imageRepository: 'mondevopsaksagents'
  containerRegistry: 'mondevappsharedcr.azurecr.io'
  dockerfilePath: '**/DockerFiles/Dockerfile'
  tag: '$(Build.BuildNumber)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'
  
  # Name of the new namespace being created to deploy the PR changes.
  k8sNamespaceForPR: '$(system.pullRequest.pullRequestId)'

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          
    - upload: manifests
      artifact: manifests

- stage: PullRequest
  displayName: PullRequest Stage
  dependsOn: Build
  condition: false # and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/pull/'))

  jobs:

  - deployment: DeployPullRequest
    variables:
    - group: KeyVault - mon-dev-shared-kv
    - template: VariableTemplates\SharedEnvironmentVariables.yml
    - template: VariableTemplates\DevEnvironmentVariables.yml
    #dependsOn: Prepare
    displayName: Deploy Pull request
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/pull/'))
    pool:
      vmImage: vs2017-win2016    
    environment: 'AksCalculatorDemo.$(k8sNamespaceForPR)'
    strategy:
      runOnce:
        deploy:
          steps:
          - reviewApp: dev
          
          - task: Tokenization@2            
            displayName: 'Tokenization: transform file akscalculator2.yml'
            inputs:
              SourcePath: $(Pipeline.Workspace)/DockerFiles/
              TargetFileNames: mon-devops-aks-agent.yml
              
          - task: Kubernetes@1
            displayName: 'Create a new namespace for the pull request'
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: 'AksCalculatorDemo'
              command: apply
              useConfigurationFile: true
              inline: '{ "kind": "Namespace", "apiVersion": "v1", "metadata": { "name": "$(k8sNamespaceForPR)" }}'
              
          # Create PAT token secret
          - task: Kubernetes@1
            displayName: kubectl create pat token secret
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint:  'AksCalculatorDemo'
              useClusterAdmin: true
              namespace: '$(k8sNamespaceForPR)'
              secretType: generic
              secretArguments: --from-literal=pattokensecret=$(AzurePatToken)
              secretName: mon-azuredevops-pat-token
              forceUpdate: true
          - task: KubernetesManifest@0
            displayName: Deploy to the new namespace n the Kubernetes cluster
            inputs:
              kubernetesServiceConnection: 'AksCalculatorDemo'
              action: deploy
              namespace: $(k8sNamespaceForPR)
              manifests: |
                $(Pipeline.Workspace)/DockerFiles/mon-devops-aks-agent.yml
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)
                    
  - job: CleanUp
    dependsOn: DeployPullRequest
    condition: always()
    pool:
      vmImage:  $(vmImageName)
    steps:
    - task: DeleteFiles@1
      displayName: 'Delete tokenised file'
      inputs:
        SourceFolder: $(Pipeline.Workspace)/DockerFiles/
        Contents:  mon-devops-aks-agent.yml
    - task: Kubernetes@1
      name: get
      displayName: 'Get services in the new namespace'
      continueOnError: true
      inputs:
        command: get
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: 'AksCalculatorDemo'
        namespace: $(k8sNamespaceForPR)
        arguments: svc
        outputFormat: jsonpath=http://{.items[0].status.loadBalancer.ingress[0].ip}:{.items[0].spec.ports[0].port}
          
      # Getting the IP of the deployed service and writing it to a variable for posing comment
    - script: |
        url="$(get.KubectlOutput)"
        message="Your review app has been deployed"
        if [ ! -z "$url" -a "$url" != "http://:" ] 
        then
          message="${message} and is available at $url.<br><br>[Learn More](https://aka.ms/testwithreviewapps) about how to test and provide feedback for the app."
        fi
        echo "##vso[task.setvariable variable=GITHUB_COMMENT]$message"

  - job: BashJob
    dependsOn: CleanUp
    condition: succeeded()
    pool:
      name: 'my-new-pool'
    steps:
    - bash: 'ls -l /data'
      displayName: 'Bash Script: Run jMeter Test'
      workingDirectory: $(Agent.TempDirectory)
    - bash: 'rm -rf /data'
      displayName: 'Bash Script: Run jMeter Test'
      workingDirectory: $(Agent.TempDirectory)
    - bash: 'pwd'
      displayName: 'Bash Script: Run jMeter Test'
      workingDirectory: $(Agent.TempDirectory)
        
- stage: DeployDEVStage
  displayName: Deploy DEV stage
  dependsOn: Build
  condition: false # and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/pull/')))
  jobs:
  - deployment: DeployDEVJob
    condition: and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/pull/')))
    displayName: Deploy DEV Job
    pool:
      vmImage: $(vmImageName)
    environment: 'dev.dev'
    strategy:
      runOnce:
        deploy:
          steps:    
          # Create PAT token secret
          - task: Tokenization@2            
            displayName: 'Tokenization: transform file akscalculator2.yml'
            inputs:
              SourcePath: $(Pipeline.Workspace)/manifests/
              TargetFileNames: akscalculator2.yml
                            
          - task: Kubernetes@1
            displayName: kubectl create pat token secret
            inputs:
              useClusterAdmin: true
              namespace: 'dev'
              secretType: generic
              secretArguments: --from-literal=pattokensecret=$(AzurePatToken)
              secretName: mon-azuredevops-pat-token
              forceUpdate: true
          
          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/akscalculator2.yml
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)

          - task: DeleteFiles@1
            displayName: 'Delete tokenised file'
            inputs:
              SourceFolder: $(Pipeline.Workspace)/manifests/
              Contents: akscalculator2.yml
